<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulaiz.dong.web.dao.CalendarMapper">
    <select id="getCalendarById" resultType="com.yulaiz.dong.web.model.vo.CalendarVo">
        SELECT
            c.id,
            c.days,
            c.title,
            c.description,
            c.remark
        FROM
            d_calendar c
        WHERE
            1 = 1
            AND c.id = #{id}
            AND c.flag = TRUE
    </select>

    <select id="getCalendarList" resultType="com.yulaiz.dong.web.model.vo.CalendarVo">
        SELECT
            c.id,
            c.days,
            c.title,
            c.description,
            c.remark
        FROM
            d_calendar c
        WHERE
            1 = 1
            AND c.flag = TRUE
        ORDER BY
            c.days DESC
    </select>

    <select id="countCalendarList" resultType="java.lang.Integer">
        SELECT
            COUNT( c.id )
        FROM
            d_calendar c
        WHERE
            1 = 1
            AND c.flag = TRUE
    </select>

    <select id="getCalendarListByPage" resultType="com.yulaiz.dong.web.model.vo.CalendarVo">
        SELECT
            c.id,
            c.days,
            c.title,
            c.description,
            c.remark
        FROM
            d_calendar c
        WHERE
            1 = 1
            AND c.flag = TRUE
        ORDER BY
            c.days DESC
        LIMIT #{offset},#{size}
    </select>

    <select id="getCalendarListByWeeks" resultType="com.yulaiz.dong.web.model.vo.CalendarVo">
        SELECT
            c.id,
            c.days,
            c.title,
            c.description,
            c.remark
        FROM
            d_calendar c
        WHERE
            1 = 1
            AND c.flag = TRUE
            <![CDATA[ AND c.days >= ( #{weeksBegin} - 1 ) * 7 ]]>
            <![CDATA[ AND c.days <= ( #{weeksBegin} + #{weeksSize} - 1 ) * 7 ]]>
        ORDER BY
            c.days DESC
    </select>

    <insert id="addCalendar" parameterType="com.yulaiz.dong.web.model.entity.CalendarInfo">
        INSERT INTO d_calendar (
            days, title, description, remark, flag, create_user_id, create_time, modify_user_id, modify_time
        )
        VALUES (
            #{item.days},
            #{item.title},
            #{item.description},
            #{item.remark},
            TRUE,
            #{item.userId},
            now(),
            #{item.userId},
            now()
        )
    </insert>

    <update id="modifyCalendar" parameterType="com.yulaiz.dong.web.model.entity.CalendarInfo">
        UPDATE d_calendar c
        SET
            c.days = #{item.days},
            c.title = #{item.title},
            c.description = #{item.description},
            c.remark = #{item.remark},
            c.modify_user_id = #{item.userId},
            c.modify_time = now()
        WHERE
            1 = 1
            AND c.id = #{item.id}
    </update>

    <update id="delCalendarById" parameterType="com.yulaiz.dong.web.model.entity.CalendarInfo">
        UPDATE d_calendar c
        SET
            c.flag = FALSE,
            c.modify_user_id = #{item.userId},
            c.modify_time = now()
        WHERE
            1 = 1
            AND c.id = #{item.id}
    </update>

    <select id="hasExistCalendarByDays" resultType="java.lang.Boolean">
        SELECT
            count( c.days )
        FROM
            d_calendar c
        WHERE
            1 = 1
            AND c.flag = TRUE
            AND c.days = #{days}
    </select>
</mapper>