<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yulaiz.dong.web.dao.UserMapper">
    <select id="checkUser" resultType="com.yulaiz.dong.web.model.entity.UserInfo">
        SELECT
            u.id,
            u.uuid,
            u.user_name,
            u.password,
            u.create_time
        FROM
            d_user u
        WHERE 1 = 1
        AND u.user_name = #{userName}
        AND u.password = #{password}
        AND u.flag = TRUE
    </select>

    <select id="getUserById" resultType="com.yulaiz.dong.web.model.entity.UserInfo">
        SELECT
            u.id,
            u.uuid,
            u.user_name,
            u.password,
            u.create_time
        FROM
            d_user u
        WHERE 1 = 1
        AND u.id = #{id}
        AND u.flag = TRUE
    </select>

    <select id="getUserByUUId" resultType="com.yulaiz.dong.web.model.entity.UserInfo">
        SELECT
            u.id,
            u.uuid,
            u.user_name,
            u.password,
            u.create_time
        FROM
            d_user u
        WHERE 1 = 1
        AND u.uuid = #{uuid}
        AND u.flag = TRUE
    </select>

    <select id="checkIsAdministrator" resultType="java.lang.Boolean">
        SELECT
            count( u.id )
        FROM
            d_user u
        WHERE
            1 = 1
            AND u.role = 'ADMIN'
            AND u.id = #{id}
            AND u.flag = TRUE
    </select>

    <select id="hasExistUserName" resultType="java.lang.Boolean">
        SELECT
            count( u.id )
        FROM
            d_user u
        WHERE
            1 = 1
            AND u.user_name = #{userName}
    </select>

    <insert id="addUser" parameterType="com.yulaiz.dong.web.model.entity.UserInfo">
        INSERT INTO d_user (
            uuid, user_name, password, create_time, register_token
        )
        VALUES (
            #{item.uuid},
            #{item.userName},
            #{item.password},
            now(),
            #{item.registerToken}
        )
    </insert>

    <select id="hasExistUserByToken" resultType="java.lang.Boolean">
        SELECT
            count( u.id )
        FROM
            d_user u
        WHERE
            1 = 1
            AND u.register_token = #{registerToken}
            AND u.flag = TRUE
    </select>
</mapper>